<launch>
  <param name="robot_description" textfile="$(find ros-ngimu)/urdf/imu_urdf.urdf"/>
    
  <node name="ng_imu" pkg="ros-ngimu" type="ngimu_node" respawn="true" output="screen"/>

  <!-- Default: 50 Hz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>

  <node pkg="rviz" type="rviz" name="ngimu_rviz" args="-d $(find ros-ngimu)/rviz/ngimu.rviz" />

</launch>